body {
    font-family: sans-serif;
    background-color: rgb(32, 32, 32);
    color: wheat;
    text-align: center;
}

div {
    flex: content;
}
img { 
    height: 300px;
    width: 400px;
}
